<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net40" />
  <package id="odp.net.managed" version="121.1.2" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.48" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.48" targetFramework="net40" />
  <package id="ServiceStack.OrmLite" version="4.0.48" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.Oracle" version="4.0.48" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.Oracle.Managed" version="4.0.33.2" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.48" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.101.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.101.0" targetFramework="net40" />
  <package id="System.Data.SQLite.EF6" version="1.0.101.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Linq" version="1.0.101.0" targetFramework="net40" />
</packages>