.vs/OracePocoByT4/v15/Server/sqlite3/storage.ide
.vs/OracePocoByT4/v15/.suo
.vs/OracePocoByT4/v15/Server/sqlite3/db.lock
/.vs/PocoByT4/v15
/Oracle.Common/bin/Debug
/XJT.Com.EntitySql/obj
/OrmLitePocoByT4/bin
/PetaPocoByT4/obj
/OracleConsole/bin
/OracleConsole/obj
/XJT.Com.EntitySql/bin
/OrmLitePocoByT4/obj
/PetaPocoByT4/bin
/OracleUnit/bin
/OracleUnit/obj
/Oracle.DAL/obj
/Oracle.DAL/bin
/Oracle.Common/obj
/Oracle.Common/bin
